<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="evozon_api_order_complete_after">
        <observer name="evozon_api_send_order_complete_email" instance="Evozon\Api\Observer\SendOrderCompleteEmail"/>
    </event>
</config>
