<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="evozon_m2demo" translate="label" sortOrder="1">
            <label>Evozon M2Demo Tab</label>
        </tab>
        <section id="evozon_m2_general_configurations" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>General Configurations</label>
            <tab>evozon_m2demo</tab>
            <resource>Evozon_M2Demo::m2acl</resource>
            <group id="hello_world_configurations" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Hello World Configurations</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>«Product name» alter status</label>
                    <source_model>\Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
