<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Config\Model\Config\Source\Email\Template">
        <plugin name="evozon_api_email_plugin" type="Evozon\Api\Plugin\RemoveCompleteOrderEmailFromConfigPlugin"/>
    </type>
    <type name="Magento\Email\Block\Adminhtml\Template\Edit\Form">
        <plugin name="evozon_api_disable_template_code" type="Evozon\Api\Plugin\SetTemplateCodeReadonlyPlugin"/>
    </type>
</config>
